<form action="/api/upload" method="POST" encType="multipart/form-data">
  <!-- <input type="text" name="profileCover" /> -->
  <input type="file" name="profileCover" />
  <button type="submit">Upload</button>
  <!-- <img src="../../upload/profileCovers/7754a1f709abeccdccd4b2be691c1dfa/jpg" alt="" /> -->
</form>