* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
.container {
  background-image: url(../img/3D-Geometric-Pattern-background-4k.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container .holder h2 {
  color: #efefef;
  padding: 20px;
  text-decoration: underline;
}
.form {
  height: 55vh;
  width: 450px;
  background-color: rgba(214, 228, 229, 0.68);
  border-radius: 25px;
  box-shadow: 2px 2px 20px 2px rgba(208, 244, 244, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}
h3 {
  position: relative;
  top: 20px;
  left: 30%;
  font-family: "DG Heaven";
}
span {
  color: #b74739;
  font-family: "DG Heaven";
}
._form {
  position: relative;
  top: 30px;
  left: 30px;
  height: 70%;
  box-sizing: border-box;
}
.fields input {
  width: 70%;
  height: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #b74739;
  border-radius: 5px;
  margin-top: 20px;
}
input:focus {
  outline: none;
  background-color: transparent;
  border-color: white;
}
input::placeholder {
  font-size: 16px;
}
.submitbotton {
  display: flex;
  width: 83%;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
}
.submitbotton input,
.submitbotton button {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  outline: none;
  box-shadow: 2px 2px 4px 0 gray;
  border: none;
  color: white;
  font-size: large;
  transition: all 0.3s ease;
  background-image: linear-gradient(to right top, rgb(73, 29, 7), rgb(242, 147, 63));
}
.submitbotton input:focus,
.submitbotton button:focus {
  background-image: linear-gradient(to right top, rgb(53, 21, 5), rgb(135, 82, 35));
  transition: all 0.1s ease;
}
.submitbotton input:hover,
.submitbotton button:hover {
  background-image: linear-gradient(to right top, rgb(73, 29, 7), rgb(200, 120, 51));
}
.table_container {
  height: 55vh;
  min-width: 50vw;
}
.table_container h2 {
  color: #fefefe;
  text-decoration: underline;
}
table {
  width: 100%;
}
thead tr {
  background-color: rgb(69, 38, 0);
  color: white;
}
tbody tr {
  color: white;
  background-color: rgba(82, 110, 111, 0.793);
}
tbody input {
  width: 70px;
  height: 40px;
  position: relative;
  left: 20%;
  margin: 5px;
  font-size: 15px;
  border-radius: 10px;
}
.table_container tr a:last-of-type {
  background-color: crimson;
  color: white;
  border: none;
  transition: all 0.3s ease;
}
.table_container tr a:last-of-type:hover {
  background-color: rgb(170, 13, 45);
}
.table_container tr a:first-of-type {
  background-color: rgb(221, 163, 4);
  color: white;
  border: none;
  transition: all 0.3s ease;
}
.table_container tr a:first-of-type:hover {
  background-color: rgb(190, 141, 4);
}
