select{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}
select.sel{
    max-width: 10vw;
    min-width: 250px;
}
select:targets{
    border-color: aqua;
}
.image{
    width: 200px;
    height: 200px;
    clip-path: circle(50% at 50% 50%);
}