main{
    height: 100vh;
}
main div.b{
    height: 90vh;
}
main div.s{
    width: 50%;
}
div.ca{
    width: 25vw;
    min-width: 350px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
