.main{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
    hr{
        margin:0;
        border: 0.5px solid rgb(227, 227, 227);
    }
    .content{
        flex:6;
        display: flex;
        flex-direction: column;
        .center{
            position: relative;
            top: 50px;
            left: 50px;
            width: 800px;
            height: 400px;
        }
    }
}



