._conTainer{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    .top{
        position: relative;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        &::after{
            position: absolute;
            content: "";
            background-color: rgb(232, 232, 232);
            width: 90%;
            height: 90%;
            opacity: 0.3;
            border-radius: 30px;
            z-index: -1;
        }
        .top_left{
            width: 40%;
            height: 300px;
            display: flex;
            flex-direction: column;
            .left_top{
                h1{
                    font-size: 70px;
                }
                margin-bottom: 50px;
            }
            .left_bottom{
                padding-left: 60px;
                background-color: none;
                width: 200px;
                height: 50px;
                display:flex;
                flex-direction: column;
                ._botton{
                    font-size: large;
                    width: 300px;
                    background-color: none;
                    border: solid 1px #076585;
                    border-radius: 10px;
                    margin: 10px;
                    padding: 10px 10px;
                    transition: all 0.3s ease ;
                    &:hover{
                        background-color: #076585;
                        color: white;
                    }
                }
                
            }
        }
        .top_right{
            width: 40%;
            height: 70%;
            padding-right:80px ;
            img{
                width:600px;
                height: 500px;
            }
            // background-size: cover;
            // clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        }
    }
    .center{
        background-color: #e5e5e5;
        // position: relative;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        // justify-content: ;
        align-items: center;
        .word{
            padding: 20px 5px;
        }
        .cards{
            display: flex;
            width: 100vw;
            align-items: center;
            justify-content: center;
            .cardInfo{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 40px;
                z-index: 1;
                img{
                    width: 150px;
                    height:150px ;
                    border-radius: 20px;
                    margin-bottom: 10px;
                }
                &::after{
                    z-index: -1;
                    position: absolute;
                    content: "";
                    width: 200px;
                    height: 200px;
                    top: 70px;
                    background-color: rgb(165, 168, 167);
                    border: 1px solid #076585;
                    border-radius: 10px;
                    opacity: 0.2;  
                }
                
            }
        }
    }
    .bottom{
        background-color: gray;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .leftInfo{
            // background-color: rosybrown;
            height: 100%;
            width: 50%;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .rightInfo{
            // background-color: orange;
            height: 100%;
            width: 50%;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}