._conTainer{
    background-image: linear-gradient(90deg to 270deg,#FFFFFF,#076585);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    .top{
        padding-left: 70px;
        flex: 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .top_left{
            width: 40%;
            height: 300px;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            .left_top{
                h1{
                    font-size: 70px;
                }
                margin-bottom: 50px;
            }
            .left_bottom{
                padding-left: 60px;
                width: 200px;
                height: 50px;
                display:flex;
                flex-direction: column;
                ._botton{
                    font-size: large;
                    width: 300px;
                    background-color: none;
                    border: solid 1px #076585;
                    border-radius: 10px;
                    margin: 10px;
                    padding: 10px 10px;
                    transition: all 0.3s ease ;
                    &:hover{
                        background-color: #076585;
                        color: white;
                    }
                }
                
            }
        }
        .top_right{
            width: 40%;
            height: 70%;
            padding-right:80px ;
            img{
                width: 500px;
                height: 400px;
            }
            // background-size: cover;
            // clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        }
        
    }
    .bottom{
        // background-color: gray;
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .leftInfo{
            // background-color: rosybrown;
            height: 100%;
            width: 50%;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .rightInfo{
            // background-color: orange;
            height: 100%;
            width: 50%;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}