.navbar{
    background-color: #FFFFFF;
    .cont{
        padding: 0 50px ;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .sample{
            display: flex;
            justify-content: center;
        }
        .collapse{
            justify-content: flex-end;
            .nav{
                width: 300px;
            }
        }
    }
}

.b{
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            margin: 0 6px;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    
}