._profile{
    background-image: url('src/assets/img/pexels.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
        margin-bottom: 50px;
    }
    ._body{
        display: flex;
        width: 80vw;
        border: 2px solid rgb(6, 106, 168);
        padding: 30px;
        border-radius: 20px;
        background-color: white;
        .image{
            position: relative;
            left: 70px;
            top: 40px;
            width: 150px;
            height: 150px;
        }
        ._inform{
            position: relative;
            left: 200px;
            display: grid;
            grid-template-columns: 300px 300px;
            grid-template-rows: 100px 100px;
            gap: 0 20px;
        }
    }
}