.propabilties{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    
    .card{
        margin: 10px;
        width: 1000px;
        min-height: 200px;
        position: relative;
        .row{
            width: 100%;
            .col{
                max-width: 250px;
                .info{
                    width: 700px;
                    .card-body{
                        position: relative;
                        .contentShow{
                            position: absolute;
                            right: 10px;
                            top:100px;
                        }
                        .notify{
                            position: absolute;
                            right: 10px;
                            top: 200px;
                        }
                    }
                }
                .session_image{
                    width: 250px;
                    height: 100%;
                }
            }
        } 
    }
}
